@tailwind base;
@tailwind components;
@tailwind utilities;

.status-card {
  @apply shadow-[9px_9px_27px_#656f7d,-9px_-9px_27px_#c3d7f3] rounded-[20px] min-h-[calc((100vh-100px-8rem)/3)] w-full h-auto mb-8 flex flex-col justify-start items-start;
  background: #94a3b8;
}

.task-card {
  @apply w-auto max-w-[180px] min-w-[100px] h-[100px] min-h-[50px] max-h-[80px] shadow-lg shadow-black bg-neutral-800 rounded-md flex flex-row flex-wrap justify-center items-center px-5 py-3 overflow-x-hidden overscroll-x-contain mb-5 cursor-pointer mx-2;
}

.task-list {
  @apply flex flex-row flex-wrap justify-evenly max-h-[calc(((100vh-100px-8rem)/3)-4rem)] h-[calc(((100vh-100px-8rem)/3)-4rem)] w-full items-start px-8 overflow-y-scroll;
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container .label1 {
  position: absolute;
  top: -20px;
  font-size: 16px;
  left: 0;
  color: black;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: black;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
